<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="env" value="development" />
    <add key="host" value="localhost" />
    <add key="port" value="8080" />
    <add key="page" value="word.html" />
  </appSettings>
</configuration>